.img {
    display: flex;
    width: 100%;
    height: 80%;
    background-image: url(./vegesimg.jpeg);
    align-items: center;
    justify-content: center;
}
.imgs {
    border:solid;
    border-color: red;
    height: 100vh;
}

.signup {
    width: 70%;
    height: 10%;
    margin-top: 2%;
}

.about__intro {
    width: 10em;
}