.ingredients {
    width: 100vw;
    height: 85vh;
}

.grocery {
    position: absolute;
    left: 50%;
    top: 8.2%;
}

.refrigerator {
    position: absolute;
    top: 8.2%;
}

/* .recipe{
    position: absolute;
    top: 58.2%;
} */

.container__all{
    background-image: url(../background-Main.jpg);
    background-size: 100% auto;
}
