.ingredient__Container {
  border: solid;
  border-color: blue;
  height: 50vh;
  width: 50vw;
}

.ingredients__List {
  flex-wrap: wrap;
  margin-top: -1%;
  overflow-y: auto;
  border: solid;
  border-color: chartreuse;
  height: 70%;
}

.grocery_row {
  border-color: black;
  border: solid;
  height: 10vh;
  margin: 2.25% 1.25% 1.25% 1.25%;
}

.ingredient {
  border: solid;
  border-color: gray;
  width: 7.5vw;
  margin-left: 3%;
  margin-top: 1.5%;
  height: 5vh;
}

.showIngredients {
  border: solid;
  border-color: violet;
  height: 50%;
}

.showIngredients {
  display: flex;
}

.method__explain {
  border: solid;
  border-color: orange;
  overflow-y: auto;
  width: 30vw;
  height: 6vh;
  margin-left: 20%;
  font-size: 12px;
}

.showDeleteBtn__Ingredients {
  border: solid;
  border-color: tomato;
  display: flex;
  margin-right: 0.5%;
  padding-left: -2.5%;
}

.deleteBtn__Ingredient {
  border: solid;
  border-color: aqua;
  height: 2.5vh;
  margin-left: 3%;
  width: 7.5vw;
  font-size: x-small;
}

.deleteBtn__Ingredient:hover {
  background-color: springgreen;
}
