.navigation {
    display: flex;
    justify-content: space-between;
    /* border: solid;
    border-color: red; */
    position: fixed;
    width: 100%;
    height: 5%;
}

.loginBtn .logoutBtn {
    
}



/* .Logo {
    margin: 15px 0 15px 10px;
    font-weight: 500;
} */

.ServiceName {
    margin: 0 0 0 5%;
    font-size: 30px;
    font-weight: ;
    color: hotpink;
    font: italic 2.5em "Fira Sans", serif;
}
{/*위 오른쪽 아래 왼쪽*/}


/* button1 */

.goMain,
.goMain::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.goMain {
  background: none;
  border: 3px solid hotpink;
  border-radius: 5px;
  color: hotpink;
  display: block;
  font-size: 0.2em;
  font-weight: bold;
  /* margin: 1em auto; */
  margin-left: -5%;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

.goMain::before,
.goMain::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.goMain:hover {
  color: #2ecc71;
}


.goMain::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.goMain:hover:after {
  height: 100%;
}

/* button2 */

  .goSignup__goMypage,
.goSignup__goMypage::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.goSignup__goMypage {
  background: none;
  border: 3px solid hotpink;
  border-radius: 5px;
  color: hotpink;
  font-size: 0.3em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

.goSignup__goMypage::before,
.goSignup__goMypage::after {
  background: #fff;
  content: '';
  position: absolute; 
  z-index: -1;
}
.goSignup__goMypage:hover {
    color: #2ecc71;
  }


/* button3 */


.loginBtn__logoutBtn,
.loginBtn__logoutBtn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.loginBtn__logoutBtn {
  background: none;
  border: 3px solid hotpink;
  border-radius: 5px;
  color: hotpink;
  font-size: 0.3em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

.loginBtn__logoutBtn::before,
.loginBtn__logoutBtn::after {
  background: #fff;
  content: '';
  position: absolute; 
z-index: -1;
}

.loginBtn__logoutBtn:hover {
  color: #2ecc71;
}

