
.recipe {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 700px; */
}

.tag__container{
  border: solid;
  border-color: green;
  width: 100%;
  height: 50px;

  padding: 5px;

  display: flex;
  flex-direction: column;
}

.tag__box{
  border: 3px solid red;
  padding: 5px;
  height: 40px;
}

.tagAndSearch {
  border: 3px solid red;
  padding: 5px;
  height: 15px;
}

.tagAndSearch > button{
  margin: 0px 0px 5px 5px;
}

.tag {
  border: 1px solid green;
  border-radius: 1em;
  padding: 10px;
  margin: 7px;
}


.recipe__container{
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items: center;
}

.recipe__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  /* border: 3px solid red; */
  padding: 10px;
}



.thumbnail {
  height: 100%;
  width: 100%;
}

.recipe__content {
  display: flex;
  border: 1px solid black;
  width: 850px;
  height: 200px;
  margin-bottom: 10px;
}

.recipe__content > a {
  text-decoration: none;
  color: black
}

.video {
  width: 45%;
  /* border: 2px solid blue; */
  /* padding: 10px; */
  /* flex: 0 0 auto; */
}

.video > img{
  width: 100%;
  height: 100%
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:80%;
  /* border: 2px solid blue; */
  padding: 20px;
  /* flex: 1 0 auto; */
}
/* .vid__info > div {
  position: relative;

  border: 2px solid green;
  padding: 10px;
} */

.title{

}

.description{

}

.recipe__container .button__more{
  display: flex;
  position: absolute;
  height: 100px;
  width: 500px;
}
