.Refrigerator__title {
    border: solid;
    border-color: skyblue;
}

.My__refrigerator {
    height: 100vh;
    border: solid;
    border-color: rgb(126, 126, 241);
    overflow-y: auto;
}

.showRefrigerator {
    display: flex;
    margin-right: 1%;
    padding-left: -5%;
    border: solid;
    border-color: teal;
    margin-top: 3%;
}

.ingredient{
    height: 5vh;
}

.ingredient:hover{
    background-color: skyblue;
}

.hide {
    display: none;
}

.delete {
    margin-top: 3%;
    margin-right: -4%;
}
.showDeleteBtn {
    border: solid;
    border-color: tomato;
    display: flex;
    
}

.deleteBtn:hover{
    background-color: pink;
}
.delete {
    
}