/* form.isInvalid input:invalid {
  border-color: red;
} */

/* input 박스 유효성 검사 실패 */
.isInvalid {
  border-color: red;
}

/* input 박스 밑 div 에러 메세지 */
.errDiv {
  color: red;
}

/* div 에러메시지 유효성 검사 성공 시 사라짐 */
.hide {
  display: none;
}

.input-group {
  width: 310px;
  margin-right: 0px;
  justify-content: left;
  /* border: 5px solid aqua; */

  /* display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 0;
  left: 20px; */
}

.f10 {
  flex: 1 1 auto;
}

.input-name {
  /* padding-left: 0; */
  font-size: large;
}

.input {
  /* background-color: palegreen; */
  margin-right: 0px;
}
